---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/home/Hero.astro';
import Features from '../components/home/Features.astro';
import AudienceTabs from '../components/home/AudienceTabs.astro';
import Process from '../components/home/Process.astro';
import Stats from '../components/home/Stats.astro';
import CTA from '../components/home/CTA.astro';
---

<Layout>
  <main>
    <Hero />
    <Features />
    <AudienceTabs />
    <Process />
    <Stats />
    <CTA />
  </main>
</Layout>